<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} </title>
      {% else %}
      <title>Welcome to Solid Principles by Rahul Gunkar</title>
      {% endif %}
    </head>
    <body>
    <div><a href="/index">Home</a></div>
    {% block hero_specs %}{% endblock %}
    <br>
    {% block hero_address %}{% endblock %}
    <br>
    {% block animal_properties %}{% endblock %}
    <br>
    {% block aap2_incorrect_DI %} {% endblock %}
    <br>
    {% block aap2_correct_DI %} {% endblock %}
    </body>
</html>